
button{
  border: 0px;
  box-shadow: 0px 0px;
}

input{
  box-sizing: border-box;
  padding:20px;
  box-shadow: 0px;
  border: 1px solid grey;
}

.fa{
  color: #28b7d7;
  margin-right: 5px;
}

.btn-dot {
  height: 35px;
  width: 35px;
  color: #ea445b;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position:fixed;
  top: 0%;
  left: 100%;
  cursor:pointer;
  transform: translate(-50%,-50%);
}

.btn-black{
color: white;
background-color: black;

}

.btn-red{
  color: white;
  background-color: #ea445b;
  margin-left: 10px;
  }

.btn-white{
  color: black;
  background-color: transparent;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px white;
  cursor:pointer;
}

.btn:hover, .btn-dot:hover{
box-shadow: 0 0 3px #28b7d7;
}

.text-strong{
  color: #28b7d7;
  font-size: 200%;
}
.text-weak{
  color: gray;
  font-size: 80%;
}

.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.space{
height: 15px;
display:  inline-block;
content: '.';
visibility: hidden;
}

.padded{
  padding: 25px 25px 25px 25px;
}


.user-picture{
  background-image: url('https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.author{
  height: 80px;
}

.author div{
  margin-right: 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  margin: 1em 0;
  padding: 0;
}



.open-button{
  position: fixed;
  top: 0;
  left: 0;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
  margin: 10px;
}

.display-none {
  display: none;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-center{
  display: flex;
  align-self: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
 
}

.modal-element{ 
  margin: auto;
  display: block;
  width: 815px;
}

.modal-element-lg{ 
  margin: auto;
  width: 875px;
  padding-left: 30px;
  padding-right: 30px;
}

.modal-main {
  position:fixed;
  background: white;
  width: 875px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.custom-scrollbar .inner-handle{
  background-color: darkgrey;
  width: 5px;
}
.comments-test-scroll .custom-scrollbar{
  width: 5px;
  height: 1000px;
  background-color: lightgrey;
}



.important{
  font-weight: bold;
  color: #ea445b;
}
